:root {
    --clr-primary-400: hsl(158, 36%, 37%);
    --clr-primary-500: hsl(158, 36%, 20%);
    --clr-secondary-200: hsl(30, 38%, 92%);

    --clr-neutral-900: hsl(212, 21%, 14%);
    --clr-neutral-400: hsl(228, 12%, 48%);
    --clr-neutral-100: hsl(0, 0%, 100%);

    --ff-accent: "Fraunces", serif;
    --ff-base: "Montserrat", sans-serif;

    --fw-regular: 500;
    --fw-bold: 700;
}

/*
    1. Use a more-intuitive box-sizing model.
  */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/*
    2. Remove default margin
  */
* {
    margin: 0;
}

/*
    3. Allow percentage-based heights in the application
  */
html,
body {
    height: 100%;
}

/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
}

/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
    font: inherit;
}

/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

h1,
h2,
h3 {
    line-height: 1;
}

/* general styling */
/* font montsrat  */
@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&family=Montserrat:wght@500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f2ebe3;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Fraunces', sans-serif;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: white;
    max-width: 600px;
    margin: 0 25px;
    border-radius: 10px;
    overflow: hidden;
}

/* main .image {
    width: 50%;
} */

main .image img {
    width: 100%;
    height: 100%;
    display: inherit;
    object-fit: fill;
}

main .info {
    padding: 32px;
    display: grid;
    gap: 15px;
    font-family: 'Fraunces';
}


main .info>p:first-of-type {
    font-size: 1em;
    color: #70727f;
    text-transform: uppercase;
    letter-spacing: 7px;
}

main .info>h1 {
    font-size: 2.6em;
    color: rgb(15, 15, 15);
    text-transform: capitalize;
    line-height: 1;
}

main .info>p:last-of-type {
    font-size: 1em;
    color: #70727f;
    line-height: 1.5;
    font-family: 'Montserrat';
}

main .info .price {
    display: flex;
    align-items: center;
    font-family: 'Fraunces';
}


main .info .price h1 {
    font-size: 2.5em;
    color: #3d8168;
    margin-right: 15px;
}

main .info .price p {
    text-decoration: line-through;
    color: #70727f;
}

main .info button {
    position: relative;
    padding: 15px 0;
    background-color: #3d8168;
    border: none;
    border-radius: 10px;
    font-weight: 700;
    color: white;
}

main .info button[data-icon="shopping-cart"]::before {
    position: absolute;
    content: "";
    background-image: url(images/icon-cart.svg);
    width: 15px;
    height: 16px;
    left: 20%;
    top: 30%;
}

/* media */

@media (max-width:640px) {
    main {
        grid-template-columns: 1fr;
    }

    main .image img {
        max-height: 450px;
        object-fit: cover;
    }
}

@media (max-width:375px) {
    main {
        margin: 0 16px;
    }

    main .image img {
        max-height: 240px;
        object-fit: cover;
    }
}